@model IEnumerable<Sinmple.Models.Lote>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>REGISTREO DE LOTES</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreLote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaElaboracion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaVencimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProducto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreLote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaElaboracion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaVencimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProducto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdLote">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdLote">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdLote">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
