@model Sinmple.Models.MovimientosInventario

@{
    ViewData["Title"] = "Delete";
<<<<<<< HEAD
    Layout = "~/Views/Shared/_Layout.cshtml";
=======
>>>>>>> 7f5891263b969f04d49c94ffaf374eeea2c2c7aa
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MovimientosInventario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoMovimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoMovimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
<<<<<<< HEAD
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLoteFk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLoteFk)
=======
            @Html.DisplayNameFor(model => model.id_lote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_lote)
>>>>>>> 7f5891263b969f04d49c94ffaf374eeea2c2c7aa
        </dd>
    </dl>
    
    <form asp-action="Delete">
<<<<<<< HEAD
        <input type="hidden" asp-for="IdMovimiento" />
=======
        <input type="hidden" asp-for="Id_movimiento" />
>>>>>>> 7f5891263b969f04d49c94ffaf374eeea2c2c7aa
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
