@model IEnumerable<Sinmple.Models.MovimientosInventario>

@{
    ViewData["Title"] = "Index";
}

<h1>MOVIMIENTOS DE INVENTARIO</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoMovimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_lote)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoMovimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_lote)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_movimiento">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_movimiento">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_movimiento">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
