@model IEnumerable<Sinmple.Models.Almacen>

@{
    ViewData["Title"] = "Index";
}

<h1>REGISTRO DE ALMACENES</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ubicacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ubicacion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_almacen">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id_almacen">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_almacen">Eliminar</a>
            </td>
        </tr>
    }
    </tbody>
</table>
